.one {
	background-image: url(https://b.3ddd.ru/media/gallery_images/567fcffc0fad3.jpeg);
	background-repeat: no-repeat;
	background-position: cover;
	background-size:100%;
	background-position: all;
	height: 100vh;
	background-attachment: scroll;
} 
