* {
	padding: 0;
	margin: 0;
	outline: 0;
	text-decoration: none;
}
header {
	background: lightblue;
	width: 95%;
	height: 85px;
	margin: auto;
	margin-bottom: -85px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	width: 550px;
	font-size: 40px;
	
	display: flex;
	justify-content: space-between;

}
footer {
	color: white;
	background: black;
	background-image: 
	width: 100%;
	height: 100px;
}

img {
	border-radius: 40px;
}